<!-- <!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/materialize.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<script src="js/jquery-2.1.1.js" type="text/javascript"></script>
	<script src="js/jquery-ui.js" type="text/javascript"></script>
	<script src="js/materialize.js" type="text/javascript"></script>
	<script src="js/script.js" type="text/javascript"></script>
</head> -->
<body>
	<header>
		<nav class="grey">
			<div class="container nav-wrapper">
				<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
				<ul class="right hide-on-med-and-down">
			        <!-- <li><a href="#"><i class="mdi-action-home"></i></a></li>
					<li><a href="#"><i class="mdi-av-queue-music"></i></a></li>
					<li><a href="#"><i class="mdi-file-file-upload"></i></a></li>
					<li><a href="#"><i class="mdi-social-person"></i></a></li> -->
					<li><a href="#" onclick="playlistNav()">Playlists</a></li>
					<li><a href="#upload-modal" class="modal-trigger">Upload</a></li>
									
					<li><!-- <a href="/logout"> Logout</a> -->
					<%= form_tag('/logout', method: :post) do %>
						<button type="submit" id="logout"> Logout </button>
					<%end%>
					</li>
			    </ul>
			    <ul class="side-nav" id="mobile-demo">
					<li><a href="#" onclick="playlistNav()">Playlists</a></li>
					<li><a href="#upload-modal" class="modal-trigger">Upload</a></li>
					<li><a href="#">User</a></li>
			    </ul>
			</div>
		</nav>
		<div class="nowplaying z-depth-1 hide-content">
			<div class="container" style="vertical-align: middle;">
				<div class="row">
					<div class="col s12 m9">
						<span style="white-space: nowrap;">
							<span>
								<%= image_tag "default.png", :class => "nowplayingart" %>
							</span>
							<span style="white-space: nowrap;">
								<span style="vertical-align: middle; white-space: nowrap;">
									<h5 class="nobreak">U</h5>
									<br />
									Gareth Emery, Bo Bruce
								</span>
							</span>
						</span>
					</div>
					<div class="col s12 m3" style="text-align: right;">
						<span style="white-space: nowrap;">
							<span style="display: inline-block; vertical-align: middle;">
								<a style="margin: 15px; margin-top: 7px;" class="black-text">
									<i class="mdi-av-skip-previous small"></i>
								</a>
							</span>
							<span style="display: inline-block; vertical-align: middle;">
								<a style="margin: 0px; margin-top: 7px;" class="btn-floating btn-large waves-effect waves-light orange">
									<i class="mdi-av-pause"></i>
								</a>
							</span>
							<span style="display: inline-block; vertical-align: middle;">
								<a style="margin: 15px; margin-top: 7px; margin-right: 5px;" class="black-text">
									<i class="mdi-av-skip-next small"></i>
								</a>
							</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</header>
	<main>
		<div class="playlists container">
			<h4>Playlists</h4>
			<div class="row" style="margin-top: 10px;">
				<div class="col s6 m3">
					<div class="card">
						<div class="card-image">
							<%= image_tag "default.png"  %>
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">EDM</span>
						</div>
					</div>
				</div>
				<div class="col s6 m3">
					<div class="card">
						<div class="card-image">
							<%= image_tag "default.png"  %>
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">Chill</span>
						</div>
					</div>
				</div>
				<div class="col s6 m3">
					<div class="card">
						<div class="card-image">
							<%= image_tag "default.png"  %>
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">Unsorted</span>
						</div>
					</div>
				</div>
				<div class="col s6 m3">
					<div class="card">
						<div class="card-image">
							<%= image_tag "newplaylist.png"  %>
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">New Playlist</span>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div id="upload-modal" class="modal modal-fixed-footer">
			<div class="modal-content">
				<h4>Upload</h4>
				<p>Select a file to upload. The file will be stored in the Unsorted playlist.</p>
				<form>
					<div class="file-field input-field">
						<input class="file-path validate" type="text" />
						<div class="btn">
							<span>File</span>
							<input type="file" />
						</div>
					</div>
					<div class="row">
						<div class="input-field col s6">
							<i class="mdi-av-album prefix"></i>
					        <input id="icon_prefix" type="text" class="validate">
					        <label for="icon_prefix">Title</label>
						</div>
						<div class="input-field col s6">
							<i class="mdi-social-person prefix"></i>
					        <input id="icon_telephone" type="tel" class="validate">
					        <label for="icon_telephone">Artist</label>
				      </div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Upload</a>
			</div>
		</div>

		<div class="playlistDetails container hide-content">
			<span>
				<h4 class="nobreak">EDM</h4>
				<a href="#!" class="black-text"><i class="mdi-image-edit tiny-small"></i></a>
				<a href="#!" class="black-text"><i class="mdi-action-delete tiny-small"></i></a>
			</span>

			<ul class="collection with-header">
				<li class="collection-item">
					<div>
						<b><span>U</span></b>&nbsp;&nbsp;&nbsp;&nbsp;
						<span>Gareth Emery, Bo Bruce</span>
						<a href="#!" class="secondary-content black-text"><i class="mdi-action-delete"></i></a>
						<a href="#!" class="secondary-content black-text"><i class="mdi-av-playlist-add"></i></a>
						<a href="#!" class="secondary-content black-text"><i class="mdi-av-play-arrow"></i></a>
					</div>
				</li>
				<li class="collection-item">
					<div>
						<b><span>Divine Sorrow</span></b>&nbsp;&nbsp;&nbsp;&nbsp;
						<span>Wyclef Jean, Avicii</span>
						<a href="#!" class="secondary-content black-text"><i class="mdi-action-delete"></i></a>
						<a href="#!" class="secondary-content black-text"><i class="mdi-av-playlist-add"></i></a>
						<a href="#!" class="secondary-content black-text"><i class="mdi-av-play-arrow"></i></a>
					</div>
				</li>
			</ul>
		</div>
		<center>
		<button onclick="hideNowPlaying()">hideNowPlaying</button>
		<button onclick="showNowPlaying()">showNowPlaying</button>
		<button onclick="hidePlaylists()">hidePlaylists</button>
		<button onclick="showPlaylists()">showPlaylists</button>
		<button onclick="hidePlaylistDetails()">hidePlaylistDetails</button>
		<button onclick="showPlaylistDetails()">showPlaylistDetails</button>
		</center>
	</main>
</body>
<!-- </html> -->